/* header */
.navbar {
    background-color: #000000;
    background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.5) 75%, rgba(235, 235, 235, 0.005) 100%);
    @media screen and (max-width: 767px){
        .navbar-nav {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    a.nav-link {
        padding: 0.5rem 1rem !important;
        color: rgba(255,255,255, 0.8) !important;
        a {
            color: #fff;
        }
    }
}